---
- name: setup group
  group: name=zookeeper system=yes

- name: setup user
  user: name=zookeeper system=yes group=zookeeper

- name: create upstart config
  template: dest=/etc/init/zookeeper.conf src=upstart.conf.j2
  notify:
    - restart zookeeper
    - wait for zookeeper port

- name: fetch binary package
  get_url: dest=/root/zookeeper-{{zookeeper_version}}.tar.gz url="http://apache.mirrors.tds.net/zookeeper/zookeeper-{{zookeeper_version}}/zookeeper-{{zookeeper_version}}.tar.gz"

- name: uncompress binary package
  unarchive: copy=no creates=/opt/zookeeper-{{zookeeper_version}} dest=/opt src=/root/zookeeper-{{zookeeper_version}}.tar.gz

- name: create symlink to installation directory
  file: path=/opt/zookeeper state=link src=/opt/zookeeper-{{zookeeper_version}}

- name: create symlink to conf directory
  file: path={{zookeeper_conf_dir}} state=link src=/opt/zookeeper/conf

- name: create data directory
  file: path={{zookeeper_data_dir}} state=directory owner=zookeeper group=zookeeper mode=755

- name: create log directory
  file: path={{zookeeper_log_dir}} state=directory owner=zookeeper group=zookeeper mode=755

- name: Setup zoo.cfg
  template: dest="{{zookeeper_conf_dir}}/zoo.cfg" src=zoo.cfg.j2 force="yes"
  notify:
    - restart zookeeper
    - wait for zookeeper port

- name: Setup myid
  template: dest="{{zookeeper_data_dir}}/myid" src=myid.j2 force="yes"
  notify:
    - restart zookeeper
    - wait for zookeeper port

- name: Setup log4j
  template: dest="{{zookeeper_conf_dir}}/log4j.properties" src=log4j.properties.j2 force="yes"
  notify:
    - restart zookeeper
    - wait for zookeeper port

