description "Kafka"

limit nofile 32768 32768

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 2 5

setuid kafka
setgid kafka

env KAFKA_HEAP_OPTS="-Xmx256M -Xms256M"

script
  exec /opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
end script