log4j.rootLogger=DEBUG, FILE

#
# Add FILE to rootLogger to get log file output
#    Log INFO level and above messages to a log file
log4j.appender.FILE=org.apache.log4j.FileAppender
log4j.appender.FILE.Threshold=INFO
log4j.appender.FILE.File={{ zookeeper_log_dir }}/zookeeper.log
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
log4j.appender.FILE.layout.ConversionPattern=%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n


#
# Add TRACEFILE to rootLogger to get log file output
#    Log DEBUG level and above messages to a log file
log4j.appender.TRACEFILE=org.apache.log4j.FileAppender
log4j.appender.TRACEFILE.Threshold=TRACE
log4j.appender.TRACEFILE.File={{ zookeeper_log_dir }}/zookeeper_trace.log

log4j.appender.TRACEFILE.layout=org.apache.log4j.PatternLayout
### Notice we are including log4j's NDC here (%x)
log4j.appender.TRACEFILE.layout.ConversionPattern=%d{ISO8601} - %-5p [%t:%C{1}@%L][%x] - %m%n