description "ZooKeeper"

limit nofile 32768 32768

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 2 5

setuid zookeeper
setgid zookeeper

env JVMFLAGS="-Xmx128M -Xms128M"

script
  exec /opt/zookeeper/bin/zkServer.sh start-foreground
end script
