description "ZooKeeper"

limit nofile 32768 32768

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 2 5

setuid zookeeper
setgid zookeeper

env JVMFLAGS="{{ zookeeper_jvm_opts }} -Dcom.sun.management.jmxremote.port={{ zookeeper_jmx_port }} -Dcom.sun.management.jmxremote.authenticate=false"

script
  exec /opt/zookeeper/bin/zkServer.sh start-foreground
end script
